[submodule ".local/share/zsh-syntax-highlighting"]
	path = .local/share/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/zsh-completions"]
	path = .local/share/zsh/plugins/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".local/share/vim/autoload"]
	path = .local/share/vim/autoload
	url = https://github.com/junegunn/vim-plug.git
